@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

body {
  @apply bg-bg-main text-gray-100;
  font-family: "Montserrat", sans-serif;
  scroll-margin: 100px;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}


@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}

@keyframes circular-motion {
  0% {
    transform: translate(0, 30%) rotate(0deg);
  }
  25% {
    transform: translate(80%, 0) rotate(90deg);
  }
  50% {
    transform: translate(150%, 20%) rotate(180deg);
  }
  75% {
    transform: translate(80%, 50%) rotate(270deg);
  }
  100% {
    transform: translate(0, 30%) rotate(360deg);
  }
}

@keyframes circular-motion-mobile{
  0% {
    transform: translate(0, 30%) rotate(0deg);
  }
  25% {
    transform: translate(30%, 0) rotate(90deg);
  }
  50% {
    transform: translate(80%, 20%) rotate(180deg);
  }
  75% {
    transform: translate(30%, 50%) rotate(270deg);
  }
  100% {
    transform: translate(0, 30%) rotate(360deg);
  }
}

.circle {
  animation: circular-motion 15s infinite linear;
}
.circle-mobile {
  animation: circular-motion-mobile 15s infinite linear;
}
